server {
    bind_address = "127.0.0.1"
    bind_port = "8081"
    socket_path = "/tmp/spire-server/private/api.sock"
    trust_domain = "@TRUST_DOMAIN@"
    data_dir = "/data/spire/server"
    log_level = "INFO"
    default_jwt_svid_ttl = "5m"
}

plugins {
    DataStore "sql" {
        plugin_data {
            database_type = "sqlite3"
            connection_string = "/data/spire/server/datastore.sqlite3"
        }
    }
    NodeAttestor "join_token" {
        plugin_data {}
    }
    KeyManager "disk" {
        plugin_data {
            keys_path = "/data/spire/server/keys.json"
        }
    }
}

health_checks {
    listener_enabled = true
    bind_address = "127.0.0.1"
    bind_port = "9091"
    live_path = "/live"
    ready_path = "/ready"
}
